*{
    margin: 0;
    padding: 0;
}

 nav{
     margin-left: 20%;
     margin-right: 20%;
     height: 160px;
 }

.navbar{
    position: relative;
    top: 50px;
    height: 110px;
}

.navbar .nav_group1 {
    position: absolute;
    top: 20px;
}

.navbar .nav_group1 ul li{
    display: inline-block;
    margin-right: 20px;
}
.navbar .nav_group1 ul li a{
    text-decoration: none;
    color: rgb(22, 141, 189);
    font-size: 18px;
}
.navbar .nav_group1 ul li a:hover{
    color: rgb(255, 170, 43);
    transition: .55s;
    text-decoration: underline;
}
.navbar .nav_logo {
    position: absolute;
    left: 35%;
}

.navbar .nav_group2 {
    position: absolute;
    left: 76%;
    top: 20px;
}

.navbar .nav_group2 ul li{
    display: inline-block;
    margin-right: 20px;
}
.navbar .nav_group2 ul li a{
    text-decoration: none;
    color: rgb(22, 141, 189);
    font-size: 18px;
}
.navbar .nav_group2 ul li a:hover{
    color: rgb(63, 153, 4);
    transition: .55s;
    text-decoration: underline;
}

/* pour le fond */
.fond{
    background: url('images/pool-2128578_1920.jpg') no-repeat center center;
    background-size: cover;
    height: 500px;
}
.fond .wrapper{
    text-align: center;
    padding-top: 8%;
    padding-bottom: 50px;
}
.fond .wrapper h2{
    text-transform: uppercase;
    color: #fff;
    font-size: 45px;
}
.fond .wrapper h4{
    padding-top: 15px;
    color: #000;
    font-size: 30px;
}
.fond .wrapper button{
    margin-top: 30px;
    color: #fff;
    font-size: 20px;
    width: 250px;
    height: 60px;
    border-radius: 5px;
    background-color: rgb(255, 170, 43);
    border-style: none;
    box-shadow: 2px 4px 10px 3px #000;
}
.fond .wrapper button:hover{
    background-color: rgb(22, 141, 189);
}
/* pour les qualités de services */

.qualite{
    text-align: center;
}
.qualite .confort{
    display: inline-block;
    text-align: center;
    border: 1px solid rgb(22, 141, 189);
    width: 300px;
    height: 300px;
    background: #fff;
    margin-right: 20px;
}
.qualite .slogan{
    padding-top: 20px;
    font-size: 20px;
}
.qualite .confort .confort_card{
    position: relative;
    padding-top: 100px;
    line-height: 30px;
}
.qualite .confort .confort_card h3{
    text-transform: uppercase;
    font-size: 20px;
}
.qualite .confort .confort_card .overlay{
    position: absolute;
    top: 0;
    bottom: 300px;
    left: 0;
    right: 0;
    height:0;
    width: 100%;
    overflow: hidden;
    
    transition: .3s ease;
    
}
.qualite .confort .confort_card .overlay:hover{
    background: rgb(22, 141, 189);
    opacity: 0.4;
    
}
.qualite .confort .confort_card:hover .overlay{
    background: rgb(22, 141, 189);
    opacity: 0.4;
    bottom: 0;
    height: 300px;
}
.clear{
    clear: both;
}
.services{
    text-align: center;
    margin-top: 20%;
}
.services h2{
    text-align: center;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.services h4{
    text-align: center;
    margin-bottom: 70px;
    color: rgb(22, 141, 189);
}
.services .service{
    display: inline-block;
    text-align: center;
    margin-right: 50px;
}
.services .service img{
    width: 60px;
    border-radius: 50%;
    height: 60px;
    margin-bottom: 20px;
}
.services .service img:hover{
    box-shadow: 0px 0px 30px 5px rgb(22, 141, 189);
    
    transition: 2s ease-in-out;
}
.reservation{
    text-align: center;
    margin-top: 120px;
    height: auto;
    background: url('images/pool-690034_1920.jpg') no-repeat center center;
}
.reservation .reserver{
    margin-right: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    display: inline-block;
}
.reservation .reserver form{
    padding-top: 20px;
    text-align: left;
    display: inline-block;
    width: 350px;
    height: 400px;
    background: rgba(255, 255, 255, 0.6);
    border: 2px solid white;
    border-radius: 3px;
}
.reservation .reserver form label{
    
    margin-left: 20px;
    
}
.reservation .reserver form input{
    padding-left: 20px;
    margin-left: 20px;
    margin-right: 20px;
    width: 280px;
    height: 40px;
    
    border-style: none;
    border-bottom: 2px solid #444;
    background: transparent;
}
.reservation .reserver form select{
    border-style: none;
    border-bottom: 2px solid #444;
    background: transparent;
    padding-left: 20px;
    margin-left: 20px;
    width: 305px;
    height: 40px;
    
}
.reservation .reserver form button{
    margin-top: 20px;
    margin-left: 20px;
    width: 305px;
    height: 40px;
    border-style: none;
    border-radius: 5px;
    background: rgb(63, 153, 4);
    box-shadow: 2px 2px 8px 1px #000;
}
/* .reservation .reserver .reserve{
    
    position: relative;
    text-align: center;
    
}
.reservation .reserver .reserve h3{
    bottom: 100px;
    position: absolute;
    text-align: center;
    
}
 .reservation .reserver .reserve .p{
    width: 200px;
    bottom: 60px;
    position: absolute;
    text-align: center;
    
}  */