*{
	margin: auto;
	padding: auto;
}

.main{

}
.sub-info{
	text-align: center;
	
}
.forum{
	border: 2px solid black;
	width: 870px;
	height: 350px;
}
.header{
	background: skyblue;
	text-align: left;

}

	nav ul{
		display: inline-block;
		border: 1px solid;
		border-radius: 5px;
	}
	nav ul li{
		display: block;
		float: left;
		list-style-type: none;
		margin: 5px;
		border-right: 1px solid;
		width: 20px

	}
